<div class="container fade in active">

  <!-- Search bar for pipeslter -->
  <input type="text" placeholder="Search..." [(ngModel)]="filter.name" class="form-control" name="first">

  <div class="attractions-list">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Wait time</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let attraction of attractions | attractionfilter:filter | sortBy: 'waitTime'">
          <td class="attraction-name">
            {{ attraction.name }}
          </td>
          <td class="attraction-time">
            {{ attraction.waitTime }}
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="loader">
    <ng-load class="loader" colorOdd="white" colorEven="teal" width="20" height="20" shape="circle"></ng-load>
  </div>
  <span class="sr-only">Loading...</span>
</div>
