.attractions-list .attraction-name { width: 100px; }
.attractions-list .attraction-time { width: 20px; }
.form-control {
  width: 150px;
  margin-bottom: 15px;
}

.container {
  padding: 100px;
}

th {
  text-align: center;
}

@media (max-width: 767px) {

}
